body {
  background-color: lightgray;
}




#bericht {
  width: 100%;
  position:absolute;
  bottom:0;
  border-radius: 30px;
  border-color: darkblue;
  height: 30px;
  text-align: center;
  font-size: 30px;
}
