body,html {
  margin: 0;
  background-color: lightblue;
}


.inloggen {
  width: 250px;
  height: 250px;
}

.welkom_login {
  height: 50px;
  width: 200px;
  background: darkblue;
  text-align: center;
  color: lightblue;
  font-family: cursive;
  bottom: 0;
  position: fixed;
  right: 0;
  margin-bottom: 50%;
  margin-right: 30px;
}
