body,html {
  margin: 0;
  background-color: lightblue;
}


.inloggen {
  width: 250px;
  height: 250px;
  background-color: rgb(118, 137, 169);

  bottom: 0;
  position: fixed;
  right: 0;
  margin-bottom: 40%;
  margin-right: 30px;

}

.welkom_login {
  height: 50px;
  width: 250px;
  background: darkblue;
  text-align: center;
  color: lightblue;
  font-family: cursive;
}


#gebruikersnaam {
  margin-top: 30%;
  text-align: center;
  border-radius: 30px;
  border-color: green;
}

#wachtwoord {
  text-align: center;
  border-radius: 30px;
  border-color: green;
}
