body,html {
  margin: 0;
  background-color: lightblue;
}


.inloggen {
  width: 250px;
  height: 250px;
}

.welkom_login {
  height: 50px;
  width: 100px;
  background: darkblue;
  text-align: center;
  color: lightblue;
  font-family: cursive;
}
