body {
  background-color: lightgray;
}



#chat_nu {
  border-radius: 100px;
  width: 150px;
  height: 50px;
  background-color: lightgreen;
  color: black;
  font-size: 23px;
  margin-top: 50px;
}


#online {
  border-radius: 100px;
  width: 160px;
  height: 50px;
  background-color: lightgreen;
  color: black;
  font-size: 23px;
  margin-top: 50px;
}
